<!-- Launches a rosbag play, the point tracker and its visualization  -->

<launch>

     <group ns="$(env ROBOT)">      
     
            <!-- Rosbag play -->
            <node       
                  pkg="rosbag"
                  type="play"
                  name="rosbag"
                  args="-l --clock /home/andreu/dataSets/inertialEye/rosbags/20131218_studyTour3.bag"/>    

            <!-- point tracker  -->
            <node pkg="btr_point_tracker"
                  type="btr_point_tracker_node"
                  name="btr_point_tracker_node"
                  args=""
                  output="screen">
                  <rosparam command="load" file="$(find btr_point_tracker)/launch/point_tracker_params.yaml"/>  
                  <remap from="/$(env ROBOT)/btr_point_tracker_node/image_in" to="/$(env ROBOT)/btr_bfly_camera_node/image_raw"/>                  
            </node>
                        
      </group>

     <!--  Visualization -->
     <include file="$(find btr_point_tracker)/launch/view.launch"> </include>      
      
</launch>

